* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
a {
  font-size: 10px;
  display: flex;
  justify-content: space-around;
  margin: 0;
}
.container {
  width: 80x;
  margin-inline: auto;
}
header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("sumbing.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navigation {
  width: 100%;
}

.navigation .box-navigation {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navigation .box-navigation .box:nth-child(1) h1 {
  font-size: 50px;
  color: white;
}
.navigation .box-navigation .box:nth-child(2) ul {
  display: flex;
  flex-direction: row;
}
.navigation .box-navigation .box:nth-child(2) ul li {
  list-style-type: none;
  margin-left: 40px;
}
.navigation .box-navigation .box:nth-child(2) ul li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  transition: all 0.3s ease;
}

.navigation .box-navigation .box:nth-child(2) ul li a:hover {
  color: yellowgreen;
}
.navigation .box-navigation .box:nth-child(3) {
  display: none;
}
.navigation .box-navigation .box:nth-child(2) ul li i {
  display: none;
}

/*hero syle*/
header .hero {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
header .hero h1 {
  color: rgba(199, 199, 199, 0.712);
  font-size: 40px;
  text-align: center;
}
/*about style*/
.about {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  background-color: lightslategray;
}
.about .box-about {
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about .box-about .box:nth-child(1) {
  padding-right: 30px;
}

.about .box-about .box:nth-child(1) h1 {
  margin: 30px;
  font-size: 42px;
  margin-bottom: 20px;
}

.about .box-about .box:nth-child(1) p {
  line-height: 2;
  padding: 20px;
}

.about .box-about .box:nth-child(2) img {
  width: 500px;
  padding: 20px;
  border-radius: 20px;
}

/*famous style*/
.famous {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background-color: #2b2d42;
}

.famous .box-famous {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.famous .box-famous .box {
  margin-inline: 10px;
  color: white;
}

.famous .box-famous .box img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
}

/*gallery*/

.gallery {
  width: 100%;
  height: auto;

  display: flex;
  align-items: flex-end;
}

.gallery .box-gallery {
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.box-gallery a {
  text-align: center;
}

.gallery .box-gallery img {
  width: 400px;
  margin: 5px;
  height: 250px;
}
.source {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1030px) {
  .about .box-about .box:nth-child(2) img {
    width: 400px;
  }

  .gallery {
    height: 100%;
    padding: 50px 0 50 px 0;
  }
}

@media screen and (max-width: 990px) {
  .navigation .box-navigation .box:nth-child(2) {
    display: flex;
    position: absolute;
    top: 100px;
    right: 100px;
    background-color: white;
    width: 250px;
    border-radius: 10px;
    opacity: 0;
    z-index: 1;
  }

  .navigation .box-navigation .menu-navigation.menu-active {
    opacity: 1;
  }

  .navigation .box-navigation .box:nth-child(2) ul {
    flex-direction: column;
  }

  .navigation .box-navigation .box:nth-child(2) ul li {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    margin-left: 0;
  }
  .navigation .box-navigation .box:nth-child(2) ul li i {
    margin-inline: 10px;
    font-size: 24px;
    display: inline-block;
  }

  .navigation .box-navigation .box:nth-child(2) ul li a {
    color: black;
  }

  .navigation .box-navigation .box:nth-child(3) {
    display: flex;
    align-items: center;
  }

  .navigation .box-navigation .box:nth-child(3) i {
    font-size: 28px;
  }

  header .hero h1 {
    font-size: 34px;
  }

  .about .box-about {
    flex-direction: column-reverse;
    margin-top: 100px;
  }

  .about .box-about {
    flex-direction: 28px;
  }

  .about .box-about .box:nth-child(1) {
    text-align: center;
    margin-top: 30px;
  }

  .about .box-about .box:nth-child(2) img {
    width: 400px;
  }

  .famous {
    height: 100%;
    padding-top: 50px;
  }

  .famous .box-famous {
    flex-direction: column;
  }

  .famous .box-famous .box {
    margin-bottom: 30px;
  }

  .famous .box-famous .box img {
    width: 400px;
  }
}

@media screen and (max-width: 768px) {
  header .hero h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 475px) {
  header .hero h1 {
    font-size: 20px;
  }
  .about .box-about .box:nth-child(1) h1 {
    font-size: 30px;
  }
  .about .box-about .box:nth-child(1) p {
    font-size: 20px;
  }
  .about .box-about .box:nth-child(2) img {
    width: 300px;
    height: 200px;
  }
  .famous .box-famous .box img {
    width: 350px;
  }
  .famous .box-famous .box h1 {
    font-size: 18px;
  }
  .famous .box-famous .box p {
    font-size: 14px;
  }
  .box-gallery {
    width: 100%;
    padding: 5%;
  }
}
